<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2012 digital publishing AG. All rights reserved.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Singularity</display-name>
    <description>Singularity</description>
    <welcome-file-list>
        <welcome-file>main.jsp</welcome-file>
    </welcome-file-list>
    <!--<servlet>-->
        <!--<servlet-name>raw</servlet-name>-->
        <!--<servlet-class>com.google.web.bindery.requestfactory.server.RequestFactoryServlet</servlet-class>-->
    <!--</servlet>-->

    <servlet>
       <servlet-name>Jersey REST Service</servlet-name>
       <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
       <init-param>
         <param-name>com.sun.jersey.config.property.packages</param-name>
         <param-value>de.vogella.jersey.first</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
       <servlet-name>Jersey REST Service</servlet-name>
       <url-pattern>/rest/*</url-pattern>
     </servlet-mapping>

    <!--<servlet-mapping>-->
        <!--<servlet-name>raw</servlet-name>-->
        <!--<url-pattern>/raw</url-pattern>-->
    <!--</servlet-mapping>-->
</web-app>